/*---------This is the css sheet for my 1st. CodeReview---------*/
			/*-----------Created by Vincenzo Schiavone Date: 11/01/2019----------*/


body{
	margin:0;
	padding:0;
	background-color: grey; /*in case of background image issues*/
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
}

header{
	display: inline-block; /*set the header content inline*/
	width: 100%;
	height: auto;
	background-color: #ebebeb;
	border-bottom: 1px solid white;
}

header img{
	float: left; /*set the logo position left from header title*/ 
	width: 100%;
	max-width: 270px;
	min-width: 200px;
	height: auto;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

header h2{
	display: inline-block;
	position: relative; 
	margin-top: 50px;
	padding: 5px;
	color: grey;
	text-align: center;
	font-weight: 900;
	border-bottom: 1px solid grey;
}

nav{
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	border-bottom: 1px solid white;
	background-color: brown;
}

nav ul{
	list-style-type: none;			/*dots before text disappeared*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-left: 37px;

}
nav li{
	display: inline;				/*set the navigation to horizontal*/
	float: left;	
}
nav li a{
	display: block;	
	text-decoration: none;			/*link underline disappeared*/
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
	color: white;

}
nav li a:hover{
	background-color: white;
	color:brown;
}

main{							/*--------MAIN STARTS HERE----------*/
	width: 100%;
	min-width: 400px;
	height: auto;
	text-align: left;
	background-color: white;

}
main h4{
	text-decoration: underline;
}
section{
	height: auto;
	margin: 0;
	padding: 100px;
	color: white;
	background-image: url(code_pic.jpg);
}
section h1{
	width: 100%;
	height: auto;
	font-size: 100px;
	font-weight: lighter;
	color: white;
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;

}
section ol{
	padding: 5px;
	border-bottom: 1px solid white;

}

article{					/*here are pictures, iframes, contact form inside*/
	width: 100%;
	height: auto;
}
article h3{					/*that is the blog title*/
	margin: 0;
	padding-left: 55px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border-top: 1px solid white;
	background-color: brown;
	color: white;
}
iframe{				/*that is the blog part*/
	display: block;
	margin: auto;	
}
.up, .down{
	border-left: 1px solid brown;
	border-right: 1px solid brown;
	padding: 100px;	
}

.first{						/*"index site" upper div in the image div*/
	display: inline-block;
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 200px;	/*space between upper & bottom image container*/
}

#topleft{ 					/*"index site" that is topleft picture*/
	float: left;
	width: 300px;
	border-radius: 20%;
	border: 2px solid grey;
	margin-left: 15%;
}

#topleft:hover{ 		/*"index site" some blink blink stuff*/
	opacity: 0.5;
}

#topright{				/*t"index site" that is top right picture*/
	float: right;
	width: 300px;
	margin-right: 15%;
	border-radius: 20%;
	border: 2px solid grey;
}
#topright:hover{
	opacity: 0.5;
}
.second{				/*"index site" bottom div in the image container div*/
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
#downleft{				
	float: left;
	width: 300px;
	margin-left: 15%;
	border-radius: 20%;
	border: 2px solid grey;
}
#downleft:hover{
	opacity: 0.5;
}

#downright{
	float: right;
	width: 300px;
	margin-right: 15%;
	border-radius: 20%;
	border: 2px solid brown;
}
#downright:hover{
	opacity: 0.5;
}
.formular{
	width: 400px;
	background-color: lightgrey;
	margin: auto; 
	padding: 200px;
}

[value="submit"] { /*--just an exercise--*/
	width: 100px;
}

[value="submit"]:hover{ /*--just an exercise--*/
	background-color: brown;
	color: white;
}
form label{
	display: block;
	width: 100%;
}
form input{
	width: 400px;
	height: 20px;
	border-radius: 15px;
	border: 2px solid brown;
}
form textarea{
	border: 2px solid brown;
}
form select{
	width: 400px;
	border-radius: 15px;
}
form a{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	border: 1px solid brown;
	background-color: white;
	border-radius: 15px;
	margin-top: 10px;
}
form a:hover{
	background-color: brown;
	color: white;
}
form p{
	text-align: center;
	padding-top: 100px;
}

							/*-----------END OF MAIN-------------*/


footer{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 10px; 
	border-top: 1px solid brown;
	background-color: lightgrey;

}
footer img{
	position: relative;	
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	max-width: 270px;
	min-width: 200px;
}
footer p{
	font-size: 21px;
	font-weight: lighter;
	margin: 0;
	padding: 8px;
	color: grey;	
	background-color: white;
	border-top: 1px solid brown;
	border-bottom: 1px solid brown;
}